name: Pragya-RAN CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install deps
        run: sudo apt-get update && sudo apt-get install -y cmake gcc g++

      - name: Configure
        run: cmake -S . -B build

      - name: Build
        run: cmake --build build

